<%
local uci = require "luci.model.uci".cursor()
local community = "profile_"..uci:get("freifunk", "community", "name")
local mapserver = uci:get("freifunk", "community", "mapserver") or "https://openwifimap.net/"
if type(mapserver)=="table" then
	mapserver = mapserver[#mapserver]
end
local latitude = tonumber(uci:get_first("system", "system", "latitude"))
local longitude = tonumber(uci:get_first("system", "system", "longitude"))
local communityLatitude = tonumber(uci:get(community, "profile", "latitude") or 0)
local communityLongitude = tonumber(uci:get(community, "profile", "longitude") or 0)
local latitude1 = communityLatitude - 0.01
local latitude2 = communityLatitude + 0.01
local longitude1 = communityLongitude - 0.01
local longitude2 = communityLongitude + 0.01
if latitude then
  latitude1 = latitude - 0.01
  latitude2 = latitude + 0.01
end
if longitude then
  longitude1 = longitude - 0.01
  longitude2 = longitude + 0.01
end
%>

<div style="position:absolute; top:5px; bottom:70px; left:10px; right:10px; font-size:20px; float:none; display:block">
<span id="owm-span">
<iframe src="<%=mapserver%>/map.html#bbox=<%=latitude1%>,<%=longitude1%>,<%=latitude2%>,<%=longitude2%>" name="owm-iframe" width="100%" height="100%" frameborder="0" scrolling="no">
</iframe>
</span>
<h3>
	<a href="/cgi-bin/luci">zurück</a>
	<a> </a>
	<a href="<%=mapserver%>/index.html#map?bbox=<%=latitude1%>,<%=longitude1%>,<%=latitude2%>,<%=longitude2%>">OpenWifiMap on <%=mapserver%></a>
	<a> </a>
	<a href="/cgi-bin/luci/owm.json" style="text-align:right;">JSON daten owm.json</a>
</h3>
</div>
