<div cbi-map="ffwizard" title="Autokonfiguration">
	<div cbi-section="@autoconf" title="Autokonfiguration">
		<div cbi-option="firstboot" title="freigegeben" description="Dieser 
		hacken wird entfernt wenn die Autokonfiguration gestartet wurde.
		Die Netzwerk- und WLAN-Einstellungen werden zurückgesetzt.
		Der Neustart des WLAN dauert 20 sek. Anschliessend wird im verfügbaren
		Kanalbereich nach Freifunk Mesh Netzen gesucht. Der Kanal auf dem ein solches
		Netz gefunden wurde wird in die FF Wizard konfiguration eingetragen und
		anschliesend ausgeführt. Sollte keine Freifunk Mesh Netz gefunden werden
		benutzt der FF Wizard einen verfügbaren Standartkanal (13 oder 36)." preview>
			<cbi-flag on="1" off="0" />
		</div>
	</div>
</div>
