<h1>Freifunk Wizard</h1>

<div cbi-map="ffwizard" title="Freifunk Wizard">
	<div cbi-section="@ffwizard" title="FF Wizard">
		<div cbi-option="enabled" title="enabled" preview>
			<cbi-flag default-on on="1" off="0" />
		</div>
		<div cbi-option="hostname" title="hostname" preview>
			<cbi-input />
		</div>
		<div cbi-option="vpn" title="VPN" list preview>
			<cbi-flag default-off on="1" off="0" />
		</div>
		<div cbi-option="bbvpn" title="Mesh VPN" list preview>
			<cbi-flag default-off on="1" off="0" />
		</div>
		<div cbi-option="br" title="Freifunk Netzwerkbrücke" list preview>
			<cbi-flag default-on on="1" off="0" />
		</div>
		<div cbi-option="dhcp_ip" title="DHCP IPv4 Netz" list preview>
			<cbi-input />
		</div>
	</div>
	<div cbi-section="@ether" title="Ether Interface">
		<div cbi-option="enabled" title="enabled" preview>
			<cbi-flag default-on on="1" off="0" />
		</div>
		<div cbi-option="device" title="Device" list preview>
			<cbi-input />
		</div>
		<div cbi-option="dhcp_br" title="Freifunk Netzwerkbrücke" list preview>
			<cbi-flag default-on on="1" off="0" />
		</div>
		<div cbi-option="olsr_mesh" title="Olsr Mesh" list preview>
			<cbi-flag default-off on="1" off="0" />
		</div>
		<div cbi-option="bat_mesh" title="B.A.T.M.A.N. Mesh" list preview>
			<cbi-flag default-off on="1" off="0" />
		</div>
		<div cbi-option="mesh_ip" title="Mesh IPv4 Adresse" list preview>
			<cbi-input />
		</div>
		<div cbi-option="dhcp_ip" title="DHCP Label IPv4 Netz" list preview>
			<cbi-input />
		</div>
	</div>
	<div cbi-section="@wifi" title="Wifi Interface">
		<div cbi-option="enabled" title="enabled" preview>
			<cbi-flag default-on on="1" off="0" />
		</div>
		<div cbi-option="phy_idx" title="Wifi Physical Index" list preview>
			<cbi-input />
		</div>
		<div cbi-option="channel" title="Funk Kanal" list preview>
			<cbi-input />
		</div>
		<div cbi-option="olsr_mesh" title="Olsr Mesh" list preview>
			<cbi-flag default-on on="1" off="0" />
		</div>
		<div cbi-option="bat_mesh" title="B.A.T.M.A.N. Mesh" list preview>
			<cbi-flag default-off on="1" off="0" />
		</div>
		<div cbi-option="mesh_ip" title="Mesh IPv4 Adresse" list preview>
			<cbi-input />
		</div>
		<div cbi-option="vap" title="AP für Mobilgeräte" list preview>
			<cbi-flag default-off on="1" off="0" />
		</div>
		<div cbi-option="dhcp_ip" title="DHCP Label IPv4 Netz" list preview>
			<cbi-input />
		</div>
	</div>
</div>
